basicsr==1.4.2
pillow==10.0.1
protobuf==4.24.2
psutil==5.9.5
insightface==0.7.3
numpy==1.24.3
onnx==1.14.0
onnxruntime==1.16.0
torch==2.0.1
torchvision==0.15.2
opencv-python-headless==4.8.1.78
fastapi
Uvicorn==0.23.2
python-multipart==0.0.6